/* use cases */
.li-mt-50 {
    margin-top: 50px;
}

.text-mt-30 {
    margin-top: 30px;
}

.w100-text-pref {
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
}

.desc-pd-7 {
    padding: 7px;
}

.text-pb-7-mb {
padding-bottom: 7px;
}

.textFixOverImg {
    /* font-weight: 800px; */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* padding: 7px 0 0 0; */
}