.bodyFont {
  font-family: 'Noto Sans', sans-serif;
}

.bodyFont.bodyFontColor {
  color: black;
}

.headlinesFont {
  font-family: 'PT Serif', serif;
}

.headlinesFont.headlinesFontColor {
  color: black;
}

.featuresImages {
  /* padding-bottom: 8px; */
  padding-top: 24px;
}

.titleColor {
  color: #263458 !important;
}

.navBarFontWeight {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.getImmunodex {
  background-color: #FB3E45;
  color: white;
}

a:hover,
.getImmunodex:hover {
  color: #263458;
}

a:hover,
.navyBlueHover:hover {
  color: #263458;
}

/* @media screen and (min-width: 1440px) {
  .col1st {
    padding-top: 25px;
  }
  .col2nd {
    padding-top: 25px;
  }
  .col3rt {

  }
  .col4th {
    padding-top: 50px;
  }
} */




@media screen and (min-width: 768px) {
  .col1st {
    padding-top: 0px;
  }

  .col2nd {
    padding-top: 27px;
  }

  .col3rt {}

  .col4th {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .col1st {
    padding-top: 0px;
  }

  .col2nd {
    padding-top: 27px;
  }

  .col3rt {}

  .col4th {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .col1st {
    padding-top: 25px;
  }

  .col2nd {
    padding-top: 25px;
  }

  .col3rt {}

  .col4th {
    padding-top: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .col1st {
    padding-top: 25px;
  }

  .col2nd {
    padding-top: 25px;
  }

  .col3rt {}

  .col4th {
    padding-top: 55px;
  }
}


/* iphnoe x */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .featuresImages {
    /* padding-bottom: 16px;
    padding-top: 16px; */
  }

  .sectionToCenter {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sectionBottom {
    padding-bottom: 0rem;
  }
}

/* iphone 8 */
@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
  .featuresImages {
    /* padding-bottom: 16px;
    padding-top: 16px; */
  }

  .sectionToCenter {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sectionBottom {
    padding-bottom: 0rem;
  }
}

/* iphone 8+ */
@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
  .featuresImages {
    /* padding-bottom: 16px;
    padding-top: 16px; */
  }

  .sectionToCenter {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sectionBottom {
    padding-bottom: 0rem;
  }
}

/*Cookie Consent Begin*/
#cookieConsent {
  background-color: rgba(20, 20, 20, 0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

#cookieConsent a {
  color: #4B8EE7;
  text-decoration: none;
}

#closeCookieConsent {
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}

#closeCookieConsent:hover {
  color: #FFF;
}

#cookieConsent a.cookieConsentOK {
  background-color: #F1D600;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
  background-color: #E0C91F;
}

/*Cookie Consent End*/


.contactUsBgImg {
  background-image: url('images/contactUsImg.jpg');
  width: 100%;
}

/* contact page */
.submitBtnStyle {
  background-color: #FB3E45;
  color: #fff;
}